@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Tajawal:wght@300;400;500&display=swap');


:root{
     --ffEpilogue:  font-family: 'Epilogue', sans-serif;
     --fw500: font-weight:500px;
     --fw700: font-weight:700px;
     /* colors */
     --Almost_White: hsl(0, 0%, 98%);
     --Medium_Gray: hsl(0, 0%, 41%);
     --Almost_Black: hsl(0, 0%, 8%);
}

*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}

body{
     background-color: var(--Almost_White);
}

p {font-size: 18px;}

nav{
 height: 80px;
padding-top: 20px;
display: flex;
}


nav a {
     padding: 0 40px;
     text-decoration: none;
}
 .credential {
     position: fixed;
     right   : 0px;
  
 
 }
 .credential a {

 
 }
 




/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */



